<% content_for :title do %>My Series<% end %>
<div class="row">
  <span class="span6">
    <h2>Current Arena:</h2>
  </span>
  <span class="span3" align="right"s>
    <p class="text-right">
    <% if current_user.arenas.length > 0 %>
      <% if current_user.arenas.last.complete %>
        <%= link_to "New Arena", new_arena_path, class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <%= link_to "New Arena", new_arena_path, class: "btn btn-primary" %>
    <% end %>
    </p>
  </span>
</div>

<div class="row">
  <span class="span9">
    <table border=0 cellpadding=5 width=100%>
      <tr>
        <td width=50% valign="top">
          <% if @arena %>
            <B>Current Hero:</b> <%= @arena.hero %> - <%= link_to "Edit", edit_arena_path(@arena) %><br>
            <B>Score:</b> <%= @arena_score %><br>
            <% @arena.matches.each_with_index do |match, index| %>
              <li><B>Match <%= index+1 %></B>: <%= match.enemy %> <%= match.first ? "First" : "Second" %> <%= match.win ? "Win" : "Loss" %> - <%= link_to "Edit", edit_match_path(match) %></li>
            <% end %>
            <%= link_to "Report Match Result", new_match_path, class: "btn-small btn-primary" %>
            <td>
              <b>Current Key:</b><br>
              <%= image_tag "keys/wins_#{@arena.score}.png", size: "300"%>
            </td>
          <% else %>
          You have no active arena's, <%= link_to "Create One!", new_arena_path %>
          <% end %>
        </td>
      </tr>
    </table>
  </span>
</div>

<div class="row">
  <span class="span6">
    <h3>Arena Stats:</h3>
  </span>
</div>
<div class="row">
  <span class="span4">
    <table class="table table-striped" border=0>
      <tr><th colspan=3 class="hc">Overall Statistics</center></th></tr>
      <tr>
        <th width=50%>Wins/Losses/Total:</th><td colspan=1><%= "W: #{@stats.wins} L: #{@stats.losses}" %></td><td><%= @stats.wins+@stats.losses %></td>
      </tr>
      <tr>
        <th>Win rate:</th><td colspan=2><%= "#{Stat.perc(@stats.wins, @stats.losses)}" %></td>
      </tr>
      <tr>
        <th>Win rate when First:</th>
        <td width="30%"><%= "W: #{@stats.winrate_when_first_wins} L: #{@stats.winrate_when_first_losses}" %></td>
        <td><%= "#{Stat.perc(@stats.winrate_when_first_wins,@stats.winrate_when_first_losses)}" %></td>
      </tr>
      <tr>
        <th>Win rate when Second:</th>
        <td width="30%"><%= "W: #{@stats.winrate_when_second_wins} L: #{@stats.winrate_when_second_losses}" %></td>
        <td><%= "#{Stat.perc(@stats.winrate_when_second_wins,@stats.winrate_when_second_losses)}" %></td>
      </tr>
    </table>
  </span>
  <span class="span5">
    <table class="table table-striped" border=0>
      <tr><th colspan=6 class="hc">Series Statistics</center></th></tr>
      <tr>
        <th colspan=1>Total Series:</th>
        <td colspan=1><%= "#{@stats.total_series}" %></td>
        <th colspan=1>Best Key:</td>
        <td colspan=3><%= image_tag "keys/wins_#{current_user.stat.best_key ||= 0}.png" %></td>
      </tr>
      <tr>
        <th colspan=2 width=40%>Profitable (7+ wins):</th>
        <td colspan=1><%= @stats.profitable_series %></td>
        <td colspan=3><%= Stat.perc(@stats.profitable_series, @stats.total_series-@stats.profitable_series) %></td>
      </tr>
      <tr>
        <th width=25%>12-0 Series:</th>
        <td widith=25%><%= @stats.nine0 %></td><td width="20%"><%= Stat.perc(@stats.nine0, @stats.total_series-@stats.nine0) %></td>
        <th width=25%>12-X Series:</th>
        <td width=25%><%= @stats.ninex %></td><td><%= Stat.perc(@stats.ninex, @stats.total_series-@stats.ninex) %></td>
      </tr>
      <tr>
        <th>X-3 Series:</th>
        <td><%= @stats.xthree %></td><td><%= Stat.perc(@stats.xthree, @stats.total_series-@stats.xthree) %></td>
        <th>0-3 Series:</th>
        <td><%= @stats.zerothree %></td><td><%= Stat.perc(@stats.zerothree, @stats.total_series-@stats.zerothree) %></td>
      </tr>
    </table>
  </span>
</div>
<div class="row">
  <span class="span7 offset1">
    <table class="table table-striped" border=0>
      <tr>
        <th class="hc" width=20%>Class:</th>
        <th class="hc" colspan=2 width=40%>Win rate as Class:</th>
        <th class="hc" colspan=2 width=40%>Win rate against Class:</th>
      </tr>
      <tr>
        <th class="h">Druid</th>
        <td><%= "W: #{@stats.wr_as_druid_wins} L: #{@stats.wr_as_druid_losses}" %></td><td><%= Stat.perc(@stats.wr_as_druid_wins, @stats.wr_as_druid_losses) %></td>
        <td><%= "W: #{@stats.wr_against_druid_wins} L: #{@stats.wr_against_druid_losses}" %></td><td><%= Stat.perc(@stats.wr_against_druid_wins, @stats.wr_against_druid_losses) %></td>
      </tr>
      <tr>
        <th class="h">Hunter</th>
        <td><%= "W: #{@stats.wr_as_hunter_wins} L: #{@stats.wr_as_hunter_losses}" %></td><td><%= Stat.perc(@stats.wr_as_hunter_wins, @stats.wr_as_hunter_losses) %></td>
        <td><%= "W: #{@stats.wr_against_hunter_wins} L: #{@stats.wr_against_hunter_losses}" %></td><td><%= Stat.perc(@stats.wr_against_hunter_wins, @stats.wr_against_hunter_losses) %></td>
      </tr>
      <tr>
        <th class="h">Mage</th>
        <td><%= "W: #{@stats.wr_as_mage_wins} L: #{@stats.wr_as_mage_losses}" %></td><td><%= Stat.perc(@stats.wr_as_mage_wins, @stats.wr_as_mage_losses) %></td>
        <td><%= "W: #{@stats.wr_against_mage_wins} L: #{@stats.wr_against_mage_losses}" %></td><td><%= Stat.perc(@stats.wr_against_mage_wins, @stats.wr_against_mage_losses) %></td>
      </tr>
      <tr>
        <th class="h">Paladin</th>
        <td><%= "W: #{@stats.wr_as_paladin_wins} L: #{@stats.wr_as_paladin_losses}" %></td><td><%= Stat.perc(@stats.wr_as_paladin_wins, @stats.wr_as_paladin_losses) %></td>
        <td><%= "W: #{@stats.wr_against_paladin_wins} L: #{@stats.wr_against_paladin_losses}" %></td><td><%= Stat.perc(@stats.wr_against_paladin_wins, @stats.wr_against_paladin_losses) %></td>
      </tr>
      <tr>
        <th class="h">Priest</th>
        <td><%= "W: #{@stats.wr_as_priest_wins} L: #{@stats.wr_as_priest_losses}" %></td><td><%= Stat.perc(@stats.wr_as_priest_wins, @stats.wr_as_priest_losses) %></td>
        <td><%= "W: #{@stats.wr_against_priest_wins} L: #{@stats.wr_against_priest_losses}" %></td><td><%= Stat.perc(@stats.wr_against_priest_wins, @stats.wr_against_priest_losses) %></td>
      </tr>
      <tr>
        <th class="h">Shaman</th>
        <td><%= "W: #{@stats.wr_as_shaman_wins} L: #{@stats.wr_as_shaman_losses}" %></td><td><%= Stat.perc(@stats.wr_as_shaman_wins, @stats.wr_as_shaman_losses) %></td>
        <td><%= "W: #{@stats.wr_against_shaman_wins} L: #{@stats.wr_against_shaman_losses}" %></td><td><%= Stat.perc(@stats.wr_against_shaman_wins, @stats.wr_against_shaman_losses) %></td>
      </tr>
      <tr>
        <th class="h">Rogue</th>
        <td><%= "W: #{@stats.wr_as_rogue_wins} L: #{@stats.wr_as_rogue_losses}" %></td><td><%= Stat.perc(@stats.wr_as_rogue_wins, @stats.wr_as_rogue_losses) %></td>
        <td><%= "W: #{@stats.wr_against_rogue_wins} L: #{@stats.wr_against_rogue_losses}" %></td><td><%= Stat.perc(@stats.wr_against_rogue_wins, @stats.wr_against_rogue_losses) %></td>
      </tr>
      <tr>
        <th class="h">Warlock</th>
        <td><%= "W: #{@stats.wr_as_warlock_wins} L: #{@stats.wr_as_warlock_losses}" %></td><td><%= Stat.perc(@stats.wr_as_warlock_wins, @stats.wr_as_warlock_losses) %></td>
        <td><%= "W: #{@stats.wr_against_warlock_wins} L: #{@stats.wr_against_warlock_losses}" %></td><td><%= Stat.perc(@stats.wr_against_warlock_wins, @stats.wr_against_warlock_losses) %></td>
      </tr>
      <tr>
        <th class="h">Warrior</th>
        <td><%= "W: #{@stats.wr_as_warrior_wins} L: #{@stats.wr_as_warrior_losses}" %></td><td><%= Stat.perc(@stats.wr_as_warrior_wins, @stats.wr_as_warrior_losses) %></td>
        <td><%= "W: #{@stats.wr_against_warrior_wins} L: #{@stats.wr_against_warrior_losses}" %></td><td><%= Stat.perc(@stats.wr_against_warrior_wins, @stats.wr_against_warrior_losses) %></td>
      </tr>
    </table>
  </span>
</div>
<div class="row">
  <span class="span9">
    <p><b>Remember:</b> You can share your stats with anyone, just give them <b><%= link_to "this link.", stat_path(username: current_user.username) %></b></p>
  </span>
</div>
